<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %>
<body>

    <%- include('./partial/nav.ejs') %>
    <h3 class="ml-5">404 ERROR ! Page not found!</h3>
    <%- include('./partial/footer.ejs') %>
</body>
</html>
